################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/apis/.vs/apis
/apis/apis/bin/Debug
/apis/apis/obj
